@use 'src/styles/common';

.our-products {
    @extend %flex-row-center;
    flex-direction: column;
    margin-bottom: 120px;
    h1 {
        @extend %h1-font;
        font-size: 39px;
        width: 65%;
    }
    p {
        @extend %p-font;
        width: 50%;
    }
}

#product-technology {
    width: 100vw
}

#our-products-h1 {
    @extend %h1-font;
    font-size: 39px;
    width: 50%;
    margin-top: 120px;
    margin-bottom: 80px;
}

.our-products-section {
    @extend %flex-row-center;
    flex-direction: column;
    width: 100%;
    p {
        @extend %p-font;
        width: 50%;
    }
}

.products-section {
    @extend %flex-row-center;
    flex-wrap: wrap;
    gap: 33px;
    margin-bottom: 100px;
    & > div {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 16px #00000014;
        border-radius: 16px;
        text-align: center;
        width: 363px;
        img {
            width: 100%;
            object-fit: cover;
        }
        p {
            width: 70%;
            margin: auto;
            margin-bottom: 32px;
            margin-top: 16px;
        }
    }
    #wellness {
        @extend %flex-row-center;
        @extend %product-bottom-div;
        background: #389CD6 0% 0% no-repeat padding-box;
    }
    #active {
        @extend %flex-row-center;
        @extend %product-bottom-div;
        background: #309D5F 0% 0% no-repeat padding-box;
    }
    #age-care {
        @extend %flex-row-center;
        @extend %product-bottom-div;
        background: #EE6381 0% 0% no-repeat padding-box;
    }
}
@media screen and (max-width: 500px) {
    #our-products-h1 {
        font-size: 32px;
        margin-top: 60px;
        width: 80%;
    }
    .our-products {
        h1 {
            font-size: 32px;
            width: 95%;
            line-height: normal;
        }
        p {
            width: 90%;
            line-height: normal;
        }
    }
    .our-products-section {
        overflow-y: hidden;
        width: 100vw;
    }
    .products-section {
        overflow-x: auto;
        flex-wrap: nowrap;
        // margin-left: 590px;
        margin: auto;
        & > div {
            width: 300px;
            margin-right: 20px;
            margin-left: 20px;
            margin-bottom: 20px;
            p {
                width: 100%;
                font-size: 12px;
            }
            & > img{
                width: 100%;
            }
        }
    }
    .our-products-section {
        width: 100vw
    }
}
@media screen and (min-width: 501px) {
    .products-section {
        & > div:hover {
            transform: scale(1.02);
            box-shadow: 0px 5px 19px #00000014;
        }
    }
}