.mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    z-index: 999999;
    position: absolute;
    left: 0;
    height: 90vh;
    margin-top: 17px;
    background: #389CD6 0% 0% no-repeat padding-box;
    a {
        text-align: left;
        text-decoration: none;
        color: white;
    }
}