@use 'src/styles/common';

.home-header {
    @extend %flex-row-center;
    flex-direction: column;
    #company-logo {
        height: 65px;
        width: 162.5px
    }
    main {
        @extend %flex-row-center;
        justify-content: space-between;
        width: 70vw;
        height: 80px;
        img {
            margin: auto;
        }
    }
}

.header-navbar {
    @extend %flex-row-center;
    width: 100vw;
    height: 49px;
    letter-spacing: 0.32px;
    background: var(--unnamed-color-389cd6) 0% 0% no-repeat padding-box;
    background: #389CD6 0% 0% no-repeat padding-box;
    color: white;
    .sub-menu {
        @extend %flex-row-center;
        position: absolute;
        height: 49px;
        top: 49+79px;
        width: 100vw;
        background: #9D8E8E 0% 0% no-repeat padding-box;
        & > nav {
            & > a:hover {
                font-weight: bold;
            }
        }
    }
    p {
        @extend %header-nav-bar;
    }
    a {
        @extend %header-nav-bar;
    }
}

.is-active {
    opacity: 1;
}

.is-inactive {
    opacity: 0;
}

@media screen and (max-width: 768px) {
    .header-navbar{
        display: none;
    }
}
    